<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Travis CI parser</title>
        <link type="text/css" rel="stylesheet" href="../static/jqwidget/jqwidgets/styles/jqx.base.css" />
      <link type="text/css" rel="stylesheet" href="../static/jqwidget/jqwidgets/styles/jqx.summer.css" />

    	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <link rel="stylesheet" href="../static/jqwidget/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/jqwidget/styles/bootstrap-theme.min.css" />
    <script type="text/javascript" src="../static/jqwidget/scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../static/jqwidget/scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/jqwidget/styles/style.css" />

    <script type="text/javascript" src="../static/jqwidget/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="../static/jqwidget/jqwidgets/jqxinput.js"></script>
    <script type="text/javascript" src="../static/jqwidget/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="../static/jqwidget/jqwidgets/globalization/globalize.js"></script>
    <script type="text/javascript" src="../static/jqwidget/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="../static/jqwidget/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="../static/jqwidget/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="../static/jqwidget/jqwidgets/jqxexpander.js"></script>
    <script type="text/javascript" src="../static/jqwidget/jqwidgets/jqxvalidator.js"></script>
    <script type="text/javascript" src="../static/jqwidget/jqwidgets/jqxmenu.js"></script>
      <script type="text/javascript" src="../static/jqwidget/jqwidgets/jqxnotification.js"></script>
    <script type="text/javascript" src="../static/jqwidget/scripts/demos.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {

            //error notification
             $("#messageNotification").jqxNotification({
                width: 400, position: "top-right", opacity: 0.9,
                autoOpen: false, animationOpenDelay: 800, autoClose: false, autoCloseDelay: 3000, template: "error"
            });


            var style='summer'
            // menu definition
             <!--$("#jqxMenu").jqxMenu({ width: '100%', height: '30px', showTopLevelArrows: true, autoOpen: true, theme:style});-->
             <!--$("#jqxMenu").jqxMenu('minimize');-->
             <!--$("#jqxMenu").css('visibility', 'visible');-->

            // Create jqxExpander.
            $("#insertRepo").jqxExpander({theme:style,  toggleMode: 'none', width: '350px', showArrow: false });
            // Create jqxInput.
            $("#userName").jqxInput({ width: '300px', height: '20px' })
            // Create jqxInput.
            $("#password").jqxInput({ width: '320px', height: '30px' });
            // Create jqxButton.
            $("#submitButton").jqxButton({ template: "primary" , width: '50%' });
            // Create jqxValidator.
            $("#form").jqxValidator({
                rules: [
                         { input: "#userName", message: "user name is required!", action: 'keyup, blur', rule: 'required' },
                         { input: "#password", message: "passwordis required!", action: 'keyup, blur', rule: 'required' },
                ]
            });
            // Validate the Form.
            $("#submitButton").click(function () {
            var validationResult = function (isValid) {
                    if (isValid) {
                    var user = $('#userName').val();
                                 $.ajax({
                                        url: "/validateKey",
                                        type: 'POST',
                                        data: {userName:user},
                                        success: function(data)
                                        {
                                            <!--$("#gitKey").jqxInput({disabled: true });-->
                                            $('#form').submit();
                                        },
                                        error: function()
                                        {
                                            <!--$("#gitKey").jqxInput({disabled: false });-->
                                            <!--$("#messageNotification").jqxNotification("open");-->

                                        }
                                    });
                    }
                }
                // Validate the Form.
                $('#form').jqxValidator('validate', validationResult);
            });


            //signup
             $('.topBar li').on('click', function (e)
            {
                if (e.currentTarget.textContent=="Sign up")
                {
                   window.location.href='/registration'
                }
            });

    });
    </script>
</head>
<body>

 <div id="messageNotification">
        <div>This is your first access. You need to provide your github access token.<BR>
        To create and delete the GitHub token, you can use the  <a href="https://github.com/settings/tokens" target="blank">GitHub web interface</a></div>
    </div>


 <div class="header-wrap">
        <div class="container">
            <div class="row" style="padding-top:1.2em;">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <ul class="list-inline pull-right topBar">
                        <li style="margin-left:1.4em"><p><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin-right:0.3em"></span>Help</p></li>
                        <li style="margin-left:1.4em"><p><span class="glyphicon glyphicon-user" aria-hidden="true" style="margin-right:0.3em"></span>Sign up</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div id="insertRepo" style="font-family: Verdana; font-size: 18px; position:absolute; top:25%; left: 33%; text-align:center;">
        <div>

        </div>
        <div style="font-family: Verdana; font-size: 16px; text-align:center;">
            <form id="form" action="{{url_for('homeUser')}}" method="post" style="overflow: hidden; margin: 10px; text-align:center;">
                 <label for="username" >GitHub username</label>

                 <input type="name" name="username" id="userName" class="form-control" placeholder="Name" style="text-align:center;font-size: 16px; ">
                    <BR><BR>
                 <label for="password" >GitHub password</label>

                 <input type="password" name="password" id="password" class="form-control" placeholder="Name" style="text-align:center;font-size: 16px; ">
                <BR><BR>
                 <button type="button" id="submitButton">Login</button>
            </form>
        </div>
    </div>
<div id="output"></div>
</body>
</html>