GRADLE_COMMAND=(.)*[$](.)*./gradlew(.)*|(.)*[$] *gradle [^-v](.)*|(.)*[$](.)*build(.)*./sh
TASK=\A:\w+(.)*
UP_TO_DATE=(.)*UP-TO-DATE(.)*
FAILED=(.)*FAILED|(.)*EXCEPTION(.)*
SKIPPED=(.)*SKIPPED(.)*
NOTE=Note:(.)*
SKIPPED_TASK=\ASkipping task(.)*
ERROR=\A( )*>|Task (.)* not found(.)*|(.)*:test(.)*buffer overflow detected(.)*|Build file \'(\/(.)*).gradle' line:(.)*|(.)*Could not resolve(.)*
DEPENDENCIES=\ADownload (.)*
