SNAPSHOT=\A\[INFO\] Building ([^//])*SNAPSHOT|\A\[INFO\] Building ([^jar:])([^//])*
GOAL=\A\[INFO\] --- (.)*
RUNNING_TEST=\A\[INFO\] Running (.)*Test(.)*|\ARunning (.)*Test(.)*
TEST_RESULT=\A(\[INFO\]|\[WARNING\]) Tests run:(.)*|\ATests run:(.)*
TEST_EX=(.)*Time elapsed:(.)*
ERROR=\A\[ERROR\](.)*
WARNING=\A\[WARNING\](.)*
DEPENDENCIES=\[INFO\] Downloaded:(.)*
DEPENDENCIES_WITHOUT_INFO=(.)*Downloaded: http(.)*
DEPENDENCIES_FILTER=./maven/plugin.|(.)*plugin(s)*|(.)*/maven/(.)*maven-(.)*