SNAPSHOT=\A\[INFO\] Building ([^//])*SNAPSHOT|\A\[INFO\] Building ([^jar:])([^//])*
GOAL=\A\[INFO\] --- (.)*
RUNNING_TEST=\ARunning (.)*Test(.)*
TEST_RESULT=\ATests run:(.)*
TEST_EX=(.)*Time elapsed:(.)*
ERROR=\A\[ERROR\](.)*
WARNING=\A\[WARNING\](.)*
DEPENDENCIES=\[INFO\] Downloaded:(.)*
DEPENDENCIES_FILTER=./maven/plugin.|(.)*plugin(s)*|(.)*/maven/(.)*maven-(.)*