DEPENDENCIES=\AUsing ([^//])|\AInstalling(.)*
GEM_COMPLEATE=Bundle complete!(.)*
COMMANDS=(.)*[$] bash(.)*[$]|(.)*[$] script/|(.)*[$] \./scr|(.)*[$] rake|(.)*[$] bundle clean|(.)*[$] bundle install|(.)*[$](.)*bundle exec|(.)*[$](.)*bin/(.)*
COMMANDS_EX=\AThe command(.)*exited
WARNING=\AWARNING: |\AWarning: